:root {
  /* Colors */
  --white: #fff;
  --black: #171718;
  --red: #ff4d4f;
  --blue: #1677ff;
  --accented-color: #0075ff;

  --text-color: var(--black);
  --header-text-color: var(--white);
  --error-color: var(--red);

  /* Background-colors */
  --dark-bg: var(--black);
  --main-bg: #f0f2f5;
  --page-bg: var(--white);

}

@media (min-width: 468px) {
  :root {
    --container-margin-x: 20px;
  }
}

@media (min-width: 768px) {
  :root {
    --container-margin-x: 40px;
  }
}

@media (min-width: 992px) {
  :root {
    --container-margin-x: 40px;
  }
}

