:root {
  /* Colors */
  --white: #fff;
  --black: #171718;
  --red: #ff4d4f;
  --blue: #1677ff;

  --text-color: var(--black);
  --header-text-color: var(--white);
  --error-color: var(--red);

  /* Background-colors */
  --dark-bg: var(--black);
  --main-bg: #f0f2f5;
  /* --main-bg: grey; */
  --page-bg: var(--white);

  /* Breakpoints */
  --mini: 767px;

  /* Borders */
  /* --main-border: 1px solid #f0f0f0; */
  --main-border: 1px solid #ccc;
  /* --main-border: 1px solid black; */

  /* Container margin x size
  .container { margin: 0 60px } */
  --container-margin-x: 0px;
}

@media (min-width: 468px) {
  :root {
    --container-margin-x: 20px;
  }
}

@media (min-width: 768px) {
  :root {
    --container-margin-x: 40px;
  }
}

@media (min-width: 992px) {
  :root {
    --container-margin-x: 40px;
  }
}

