.card {
    border: var(--main-border);
    border-radius: 4px;
    padding: 0.7em 1em 0.9em;
    margin-bottom: 1em;
}

.card__title {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.4;
    margin-left: 1em;
}

.card__inputTaskBlock {
    margin-bottom: 0.8em;
}

.card__taskTitleInput,
.card__taskTitleInput_error {
    background-color: var(--main-bg);
    padding: 0 0.8em;
    border-radius: 4px;
    line-height: 1.8;
}

.card__taskTitleInput_error {
    border: 1px solid var(--error-color);
}

.card__taskTitleError {
    color: var(--error-color);
    padding: 0.5em;
}

.card__addTaskBtn {
    background-color: var(--main-bg);
    width: 1.8em;
    height: 1.8em;
    border-radius: 4px;
    margin-left: 1em;
    border: var(--main-border);
    font-weight: 500;
}

.card__addTaskBtn:hover {
    opacity: 0, .9;
}

.card__addTaskBtn:active {
    position: relative;
    top: 1px;
}

.card__tasks {
    margin-bottom: 0.8em;
}

.card__filterBlock {
    display: flex;
    gap: 0.5em;
}

.card__filterBtn,
.card__filterBtn_active {
    background-color: var(--main-bg);
    border-radius: 4px;
    border: var(--main-border);
    font-weight: 500;
    line-height: 1.8;
    padding: 0 0.5em;
}

.card__filterBtn_active {
    background-color: var(--accented-color);
    color: var(--white);
    cursor: default;
}

.card__filterBtn:hover {
    opacity: 0.9;
}

.card__filterBtn:active {
    position: relative;
    top: 1px;
}

