.card__task,
.card__task_completed {
    line-height: 1.5;
}

.card__task_completed {
    opacity: 0.6;
}

.task__checkInput {
    margin-right: 0.8em;
}

.removeTaskBtn {
    background-color: var(--main-bg);
    width: 1.3em;
    height: 1.3em;
    border-radius: 4px;
    margin-left: 2em;
    border: var(--main-border);
    font-weight: 500;
}

.removeTaskBtn:hover {
    opacity: 0, .9;
}

.removeTaskBtn:active {
    position: relative;
    top: 1px;
}